<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SS GAME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/static/build/css/app.css">
</head>

<style media="screen">
    body {
        background: url(https://i.gyazo.com/6e44339e65ec11148e7c65ba6c13ed56.jpg) no-repeat;
        background-size: cover;
        background-position: bottom;
    }
</style>

<body>
    <div id="client">

    </div>
    <!-- <script src="/static/build/js/chunk-vendors.js?{{ build_hash }}"></script>
    <script src="/static/build/js/app.js?{{ build_hash }}"></script> -->
    <script src="https://drx-demo.us-east-1.linodeobjects.com/chunk-vendors.js?version={{ build_hash }}"></script>
    <script src="https://drx-demo.us-east-1.linodeobjects.com/app.js?version={{ build_hash }}"></script>
</body>

</html>
